<%- include("header") -%>

<body style="text-align: center" class="p-3 mb-2 bg-light text-dark">
  <div class="align-items-center">
    <h1>Congratulations!</h1>
    <h3>Your File is Successfully scanned.</h3>
    <p>The number of words in your file are <%=count%> .</p>
  </div>
</body>
